* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(215, 215, 215);
}

body{
  background-color: rgb(30, 30, 30);
  
}

h1 {
  /*width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 80px;
  justify-content: center;
  flex-shrink: 2;*/
}

h1 span{
  font-size: 120px
}

header{
  border: solid 2px red;
  background-color: rgb(37, 37, 37);
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*width: 100%;
  height: 250px;*/
}

main{
  background-color: rgb(51, 51, 51);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

footer{
  text-align: center;
  font-size: 12px
}

form{
  width: 100%;
}

table{
  border-spacing: 10px;
}

fieldset legend{
  font-size: 20px;
  text-align: center;
}

.form-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.pre-flight-settings div{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 7px 15px 7px 15px;
}

/*.sensor-state tr{
  border: solid;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 7px 15px 7px 15px;
}*/

/*.pre-flight-settings input{
  /*justify-content: flex-end;
  margin-left: 20px;
}*/

/*fieldset{
  display: flex;
  justify-content: space-around;
}*/

.logo-holder{
  flex-basis: 10%;
}

.logo{
  border-radius: 0% 0% 25% 0%;
  flex-basis: 33%;
  flex-shrink: 2;
}

.title-holder{
  justify-content: flex-start;
  flex: 2;
}

.border{
  border: solid white 2px;
}

.navbox{
  border: white solid 2px;
  border-radius: 12%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbox img{
  height: 100px;
  width: 100px;
}

.fieldset-row{
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

.form-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column{
  float: left;
  width: 33.3%;
  height: 100%;
}

@media screen and (max-width: 600px){
  .form-container {
    flex-wrap: wrap;
  }

  h1{
    font-size: 30px;
  }

  h1 span{
    font-size: 50px;
  }
  /*.column{
    width: 100%;
    height: auto;
  }
  
  header{
    height: 100px;
  }*/


}
